  <!DOCTYPE html>
  <html>
    <head>
      <title>Examen</title>
      <%= csrf_meta_tags %>

      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>
    	<p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
       <div id="sidebar">
      <ul>
        <li class="category">Website</li>
        <li><%= link_to "Categorias", root_path%></li>
        <li>About</li>
      </ul> 
      <p class="sign_in">Log in</p>
    </div>
    <div id="main_content">
      <div id="header">
        <p>Todo List</p>
        <a href="/categories/new"><button class="button">Nueva Categoria</button></a>
      </div>
      <%= yield %>
    </body>
  </html>
